services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - "6333"
      - "6334"
    volumes:
      - ./qdrant_data:/qdrant/storage
    user: "${UID}:${GID}"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6333/health"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - app-network

  torchserve:
    image: ghcr.io/clems4ever/torchserve-all-minilm-l6-v2:latest
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - qdrant
    stdin_open: true
    tty: true
    networks:
      - app-network
    expose:
      - 8080

networks:
  app-network:
    driver: bridge