langchain==0.3.25
langchain-community==0.3.21
langchain-core==0.3.80
langchain-ollama
langchain-qdrant==0.2.0
langchain-text-splitters==0.3.8
langgraph==0.6.3
langgraph-api==0.2.128
langgraph-checkpoint==2.1.1
langgraph-cli==0.3.6
langgraph-prebuilt==0.6.3
langgraph-runtime-inmem==0.6.11
langgraph-sdk==0.2.0
python-dotenv==1.1.1
qdrant-client==1.15.1
ruff==0.12.8
pymupdf
langchain_ollama